NODE_ENV=development
PORT=5000
CLIENT_ORIGIN=http://localhost:3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=password
DB_NAME=koperasi_tani_pangan_mandiri

JWT_SECRET=super_secret_koperasi_key_2026
JWT_EXPIRES_IN=7d
